<section class="login page">
	<div class="wrapper">
		<h1>Connect with MetaMask</h1>
		<p>Click the button below to connect with MetaMask.</p>
		<button id="login" class="btn btn-primary btn-lg">
			<img src="/images/metamask.png" width="50" alt="MetaMask" />
			<span>
				Connect with MetaMask
			</span></button>
	</div>
</section>